extends layout

block content
    div(class='container')
        h1(class='text-center align-center') Medicompare
        div(class='row')
            div(class='form-group col-sm-5 text-right')
                label(class='sr-only', for='input-procedure') Procedure
                select(class='form-control', id='input-procedure', name='input-procedure', placeholder='Medical Procedure')        
            div(class='form-group col-sm-5 text-left')
                label(class='sr-only', for='zip') Zip Code
                input(type='zipcode', class='form-control', id='input-zipcode', name='zipcode', placeholder='Zip Code')
            button(class='btn btn-default glyphicon glyphicon-search col-sm-2 text-left')
        if {zipcode}
            p #{zipcode}
        if {procedure}
            p #{procedure}


block scripts
    script(src='js/map.js')
