extends layout

block content
  h1= title
  p Welcome to #{title}
  form(class='form-inline')
    div(class='form-group')
      label(class='sr-only', for='procedure') Procedure
      input(type='procedure', class='form-control', id='procedure', placeholder='Medical Procedure')
    div(class='form-group')
      label(class='sr-only', for='zip') Zip Code
      input(type='zip', class='form-control', id='zip', placeholder='Zip Code')
    button(class='btn btn-default') Discover
  
