extends layout

block content
    div(class='container')
        br
        div(class='text-center')
            img(class='logoImg img-fluid' src='/img/logo.jpg')
        div(class='text-center')
            h1(class='display-1 text-danger text-center' id='landing-title') Medicompare
        div(class='divider')
        br
        h2(class='text-center')
            span(class='label label-default') How much will YOU pay in healthcare costs?
        br
        blockquote(class='blockquote-reverse')
            p(class='mb-0 text-muted') "In a medical system notorious for opaque finances and inflated bills, nothing is more convoluted than hospital pricing."
            small by 
                cite New York Times 
        blockquote(class='blockquote')
            p(class='mb-0 text-muted') "Within the nation’s largest metropolitan area, the New York City area, a joint replacement runs anywhere between $15,000 and $155,000. At two hospitals in the Los Angeles area, the cost of the same treatment for pneumonia varies by $100,000, according to the database."
            small by 
                cite The Huffington Post
        br
        div(class='text-center')
            a(class='btn btn-primary btn-block btn-lg' href="/main") Discover >
        br
            
        
