doctype html
html
  head
    title= "Medicompare"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    //- link(rel='stylesheet', href='http://bootswatch.com/paper/bootstrap.min.css')
    
    // favicon
    link(rel="shortcut icon" href="/img/favicon.ico")

    // font
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro")

    // jquery 
    script(src="https://code.jquery.com/jquery-3.2.0.min.js")

    // select2 
    link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css", rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.6/select2-bootstrap.min.css", rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js")
  body
    block content
    
    footer(class='footer well')
        div(class='container')
            p Made with #[span(class='glyphicon glyphicon-heart')] by #[a(href='https://github.com/hathix') Neel Mehta] and #[a(href='https://github.com/ahkallison') Allison Kao] for #[a(href='http://codingitforward.com') Coding it Forward]. #[a(href='https://github.com/CodingItForward/medicompare') View this web app on GitHub].

    block scripts
